@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.product-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-container > img{
  max-width: 250px;
  max-height: 150px;
}